@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #1469AE, #1E3D59);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0d1b27ab;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #1469AE;
    text-align: center;
    text-shadow: 1px 1px 2px #09131d98;
}

p {
    text-align: justify;
}