@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(/assets/idroid/IDroid.otf) format(opentype);
    font-weight: normal;
}



:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --font-android: 'Android', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--cor4);
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
}

header > p {
    color: white;
}

nav {
    background-color: var(--cor5);
}

main {
    background-color: white;
    padding: 20px;
    margin: 20px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    border-radius: 0px 00px 20px 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.466);
}

main h1 {
    color: var(--cor5);
    font-family: var(--font-android);
}

main h2 {
    font-family: var(--font-android);
}

main img {
    width: 100%;
}

main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}

footer {
    background-color: var(--cor5);
    color: white;
}